.edit-modal {
  display: flex;
  flex-direction: column;
  &__head {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
  &__body {
    input {
      width: 100%;
      height: 200px;
      font-size: 3rem;
    }
  }
  &__footer {
    display: flex;
    gap: 20%;
    button {
      width: 40%;
      height: 60px;
      &:hover {
        color: black;
        background-color: lightgray;
      }
    }
  }
}
